{% extends 'main/layout.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'for_users/css/for_users.css'%}">
<!--<div class="container mt-5" style="background-color:#BCD4E6;">-->
  <section class=" d-flex align-items-center" >
    <div class=" mb-5 container">
      <div class="row">
        <div class="" style = "height:120px;">
        </div>
<!--        <div class="mt-5 col-lg-6 d-flex flex-column justify-content-center" >-->
          <h1  ><b>Привет, выбери свою пилюлю!</b></h1>
          <div >
            <div class="mt-5 text-center text-lg-start">
              <a href="#" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'logIN' %}" >Зарегистрироваться</a>
                  <a class="btn btn-danger btn-lg px-4 me-sm-3" href="#" >Войти</a>
              </a>
            </div>
<!--          </div>-->
        </div>
      </div>
    </div>
  </section>
<!--</div>-->

{% endblock%}